table {
	border-collapse: collapse;
	margin: -1px;
	text-align: center;
}

th, td {
	border: solid 1px;
	width: 50px;
	height: 40px;
}

#period_h, #row_h {
	transform: rotate(270deg);
	height: 30px;
	width: 30px;
	white-space: nowrap;
	transform-origin: center;
}

.period, .row {
}

.element-cell td {
	border: none;
	height: 10px;
}

.lable {
	text-align: center;
	font-size: 22px;
	width: auto;
	padding: unset;
}

.number {
	text-align: right;
	vertical-align: top;
	font-size: 12px;
	width: auto;
	padding: 0 3px;
}

.weight {
	text-align: right;
	font-size: 8px;
	padding: 0 3px;
}

.element-name {
	text-align: left;
	font-size: 10px;
	padding: 0 3px;
}

/*----------------------------*/
.element-nonmetal {
	background-color: lightgreen;
}

.element-inert-gas {
	background-color: blue;
}

.element-alkali-metal {
	background-color: rgb(255 106 0);
}

.element-alkaline-earth-metal {
	background-color: rgb(255 216 0);
}

.element-halogen {
	background-color: aqua;
}

.element-transition-metal {
	background-color: rgb(133 13 57);
}

.element-post-transition-metal {
	background-color: rgb(80 104 125);
}
