input, div, button 
{
	font-size: 24px;
	width: 50%;
}

input
{
	text-align: right;
}

.task 
{
	display: flex;
	width: 100%;
	align-items: center;
}

.result 
{
	width: 90%;
}

.pair
{
	text-align: right;
}

lable
{
	width: 50%
}

#factorial-result 
{
	white-space: normal;
	overflow-wrap: break-word;
}
