input, div, button 
{
	font-size: 24px;
	width: 50%;
}

input
{
	text-align: right;
}

.task 
{
	display: flex;
	width: 100%;
	align-items: center;
	/*padding-bottom: 20px;
	border-bottom: solid 5px;*/
}

.result 
{
	max-width: 50%;
}

.pair
{
	text-align: right;
}

lable
{
	width: 50%
}

#factorial-result
{
	/*white-space: normal;*/
}
