input, div, button 
{
	font-size: 24px;
	width: 50%;
}

input
{
	text-align: right;
}

.task 
{
	display: flex;
	width: 100%;
	align-items: center;
}

.result 
{
	width: 90%;
}

.pair
{
	text-align: right;
}

lable
{
	width: 50%
}

#factorial-result 
{
	white-space: normal;
	overflow-wrap: break-word;
}

/* ///////////////////////////////////////////////////////////////// */

.images-and-colors
{
	width: 75%;
	display: flex;
	justify-content: space-between;
}

.image-container
{
	border: solid 1px;
	/*width: 800px;
	height: 600px;*/
}
#image, .image-container
{
	width: 400px;
	height: 300px;
}
.select-color
{
	display: flex;
	justify-content: space-between;

	margin: 12px;
}