@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
body {
	font-family: 'Roboto Condensed';
	font-size: 20px;
	padding: 1% 5%;
	background-image: linear-gradient(rgba(108, 146, 175, 1), rgba(110, 127, 128, 0.6)), url('img/www.jpg');
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	backdrop-filter: blur(2px);
}
p 
{
	text-align: justify;
	text-indent: 48px;
	line-height: 32px;
	/*background-color: rgba(220, 220, 220, 0.5);*/
	border-radius: 16px;
}
	p::first-letter 
	{
		font-size: 32px;
		font-family:'Segoe Script';
	}
	
figure
{
	text-align: center;
	font-style: italic;
	font-weight:100;
}
ul
{
	list-style:none;
}
a
{
	text-decoration:none;
}
a:active
{
	color:green;
}
a:visited
{
	color:darkgreen;
}
a:hover 
{
	font-weight: 800;
	background-color: black;
	color: white;
}
	/*:target*/ /*> span*/
	/*{
		background-color:limegreen
	
	}*/
		:target + div {
			border-radius: 16px;
			background-color: rgba(220, 220, 220, 0.6) ;
			box-shadow: 0 0 25px 25px rgba(220, 220, 220, 0.7);
		}
div
{
	padding: 16px;
}
.cite {
	/*border: solid 8px;*/
	border-left: solid 8px rgb(100, 101, 169);
	padding: 20px 50px;
	margin: 40px 30px 20px;
}
